/**
* This file is part of LimeSurvey template SkeletonQuest
* Make your your change here
**/
body{background:#DDDDDD;color:#000000;}
h1, h2, h3, h4, h5, h6 {color: #000000;}
a, a:visited { color: #222222;}
a:hover, a:focus { color: #1e4057; }
#head{
  border-bottom:2px solid #FFD100;
  color:#FFFFFF;
  background:#222222;
}
#head h1{
  color:#fff;
}

.grouptitle {color:#000000;font-weight:bold;}

.subtitle{background:transparent;color:inherit;}

.progress-value{
  color:#000000;
  font-weight:bold;
  background:#FFD100;
  border-right:1px solid #222;
 }
 
#footer{
  border-top:2px solid #1e4057;
  color:#fff;
  background:#222222;
}

#footer a, #footer a:visited {color:#fff;}
#footer a:hover, #footer a:focus, #footer a:active {color: #ffffff;}

#movenextbtn,#movesubmitbtn{
  background-color:#222222;color:#fff;text-shadow: 0 1px rgba(0, 0, 0, 0.75);
}
#movenextbtn:hover,#movesubmitbtn:hover,#movenextbtn:focus,#movesubmitbtn:focus{
  background-color:#FFD100;
}
#movenextbtn:active,#movesubmitbtn:active{
  background-color:#FFD100;

}
#movenextbtn .ui-icon,#movesubmitbtn .ui-icon{
    background-image: url("images/ui-icons_ededed_256x240.png");
}

li.radio-item label,li.checkbox-item label
  {background-color: #FFF;}
li.radio-item.other-item,li.checkbox-item.other-item,li.checkbox-text-item.other-item .option
  {background-color: #FFF;}
li.radio-item.other-item label,li.checkbox-item.other-item label
  {background-color: transparent;}
/* checked */
li.radio-item input.radio:checked + label,li.checkbox-item input.checkbox:checked + label
  {background:#FFD100;color:#000;}
li.other-item input.radio:checked + label,li.other-item input.checkbox:checked + label
  {background:transparent;color:inherit;}
li.other-item.checked
  {background:#FFD100;color:#000;}
/* positive/negative highlighting for copy testing */
li.checkbox-item input.positive:checked + label
  {background:#33FF33 !important;}
  li.checkbox-item input.negative:checked + label
  {background:#FF4444 !important;}
/* hover */
  li.radio-item label:hover,li.checkbox-item  input.checkbox + label:hover
  {background:#222222;color:#fff}
.js li.other-item:hover
  {background:#222222;color:#fff}
.js li.other-item:hover label
  {color:#fff}
li.radio-item input.radio[disabled] + label,li.checkbox-item input.checkbox[disabled] + label
{
  background:transparent;
   cursor:inherit;color:#666;
}

.js table.question tbody tr td.radio-item:hover {background: #222222;}
.js td.radio-item.checked{background-color:#FFD100;}
.js table.question tbody tr td.checkbox-item:hover {background: #222222;}
.js td.checkbox-item.checked{background-color:#FFD100;}

li.checkbox-item input[type=checkbox] + label:before,
li.checkbox-text-item input[type=checkbox] + label:before,
td.checkbox-item input[type=checkbox] + label
 {
	background-color: #CCC;
}
li.radio-item input[type=radio] + label:before,
td.radio-item input[type=radio] + label
{
	border-color: #CCC;
	background-color: #CCC;
}
li.checkbox-item input[type=checkbox]:checked + label:before,
li.checkbox-text-item input[type=checkbox]:checked + label:before,
td.checkbox-item input[type=checkbox]:checked + label
{
    background-color: #CCC;
    border-color: #CCC;
}
li.radio-item input[type=radio]:checked + label:before,
td.radio-item input[type=radio]:checked + label
{
	border-color: #CCC;
	background-color:#000;
}
li.checkbox-item input[type=checkbox]:hover + label:before,
li.checkbox-item input[type=checkbox] + label:hover:before,
li.checkbox-text-item input[type=checkbox]:hover + label:before,
li.checkbox-text-item input[type=checkbox] + label:hover:before,
.js td.checkbox-item:hover input[type=checkbox] + label,
{
    background-color: #CCC;
    border-color: #CCC;
}

.question-wrapper {
  border:none;
  border-top:2px solid #222222;
  -webkit-border-radius: 0;border-radius: 0;
}
.question-text{
  border-bottom:none;
}
@media print {
    body{background-color:#fff;background-image:none;font: 12pt "Luxi sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;color: #000;}
    #head{background:#fff;}
    .pagesubtitle{background:#ffffff}
    #footer {display:none}
    a:link,a:visited { color: #520; }
    #head h1 {color: #000;}
}

/***** 
	Styles for the responsiveArray plugin
	Copyright (C) 2014 - Tony Partner (http://partnersurveys.com)
	Licensed MIT, GPL
	Version - 1.0
	Create date - 09/06/14
*****/
 
.responsive-array .dropdown-cell {
	display: none;
	text-align: left;
	padding-left: 8px;
}
 
.responsive-array .dropdown-cell select {
		max-width: none;
}
 
@media screen and (max-width: 640px) {
	.responsive-array table.question {
		table-layout: auto;
	}
	.responsive-array table.question .col-0,
	.responsive-array table.question .dropdown-cell {
		width: 50%;
	}
	.responsive-array .dropdown-cell {
		display: table-cell;
	}
	.responsive-array th.expanded,
	.responsive-array td.expanded {
		display: none;
	}
}

/****
Additional BrandingBusiness Customer Styles
****/
.question-help { 
	background: #FFFFFF;
	border: none;
}
	
